@model IEnumerable<Cshap_Mvc.Models.BlogModel>

<div class=" card">
    <div class="card-header">
        <h2> List Blog</h2>
    </div>
    <div class="card-body p-0">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="col ">
                    <th class="" scope="col">
                        @Html.DisplayName("Id")
                    </th>
                    <th class="col-md-3" scope="col">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="col-md-1" scope="col">
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th class="col-md-1" scope="col">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="col-md-3" scope="col">
                        @Html.DisplayNameFor(model => model.Place)
                    </th>
                    <th class="col-md-2" scope="col">
                        @Html.DisplayNameFor(model => model.Public_Date)
                    </th>
                    <th class="col-md-1" scope="col">
                        @Html.DisplayName("Edit")
                    </th>
                    <th class="col-md-1" scope="col">
                        @Html.DisplayName("Delete")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td class="text-center">
                            @(item.Status ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Public_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" type="button" onclick='deleteBlog(@item.Id)'>Delete</button>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>

