@model Cshap_Mvc.Models.BlogModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content p-3 blog-edit">
    <div class="card">
        @using (Html.BeginForm())
        {
            <div class="card-header">
                <h2>Edit Blogs</h2>
            </div>
            <div class="card-body">

                <div class="form-horizontal">
                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 mt-2">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Short_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Short_Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Short_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" , rows = "6" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Public_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Public_Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Public_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group py-2">
                        @Html.LabelFor(model => model.Is_Active, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Is_Active)
                                @Html.ValidationMessageFor(model => model.Is_Active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-center" >
                    <button class="btn btn-success c" type="submit">Submit</button>
                    <button class="btn btn-primary" type="button" onclick="blogClear()"> Clear</button>
            </div>
        }

    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
